.flex {
  display: flex;
}

* {
  box-sizing: border-box;
}

main {
  width: 400px;
}

body {
  height: 100vh;
  margin: 0;
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

#title {
  justify-content: center;
  align-items: center;
  background:rgb(130, 186, 106);
  color: white;
  height: 40px
}

#skills-div {
  height: 100px;
  flex-direction: column;
  justify-content: space-evenly;
}

.red {
  background: rgb(214, 79, 83);
  height: 25px;
  width: 25px;
  justify-content: center;
  align-items: center;
  color: white;
}

.skill-text {
  justify-content: center;
  align-items: center;
  color: rgb(252, 155, 9);
  padding-left: 15px;
}

#input-n-btn {
  height: 40px;
  justify-content: space-between;
}

input {
  width: 75%;
  border: 3px solid rgb(130, 186, 106);
  color: rgb(252, 155, 9);
  font-size: 15px;
}

button {
  background: white;
  border: 3px solid rgb(130, 186, 106);
  color:rgb(130, 186, 106);
  /* width: 22%; */
}